/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #333;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.link, .typography a {
  color: #6c85d5;
  text-decoration: none; }
  .link:visited, .typography a:visited {
    color: #2b8070; }
  .link:hover, .typography a:hover, .link:visited:hover, .typography a:visited:hover {
    color: #597be8;
    text-decoration: underline; }

.fixed, .typography pre, .typography code {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 85%;
  line-height: 1.4; }

.quiet {
  color: #ccc; }

.loud, .bold, .typography b, .typography strong {
  color: #000; }

.italic, .typography i, .typography em {
  font-style: italic; }

.bold, .typography b, .typography strong {
  font-weight: 700; }

.h1, .typography h1, .h2, .typography h2, .h3, .typography h3, .h4, .typography h4, .h5, .typography h5, .h6, .typography h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.h1, .typography h1, .h2, .typography h2 {
  line-height: 1.1; }

.h3, .typography h3, .h4, .typography h4 {
  line-height: 1.3; }

.h1, .typography h1 {
  font-size: 400%;
  letter-spacing: -2px; }

.h2, .typography h2 {
  font-size: 250%;
  letter-spacing: -1px; }

.h3, .typography h3 {
  font-size: 200%; }

.h4, .typography h4 {
  font-size: 180%; }

.h5, .typography h5 {
  font-size: 130%; }

.h6, .typography h6 {
  font-size: 100%; }

.block-margins, .typography p, .typography ul, .typography ol, .typography pre {
  margin: 1em 0; }

.unordered-list, .typography ul {
  list-style-type: disc; }

.ordered-list, .typography ol {
  list-style: decimal; }

.typography h1 {
  margin: 1em 0 0.5em; }

.typography h2 {
  margin: 1em 0 0.5em; }

.typography h3 {
  margin: 1em 0 0.5em; }

.typography h4 {
  margin: 1em 0 0.5em; }

.typography h5 {
  margin: 1em 0 0.5em; }

.typography h6 {
  margin: 1em 0 0.5em; }

/*
 * Modifiers
 */
.float-left {
  float: left;
  margin-right: 1em; }

.float-right {
  float: right;
  margin-left: 1em; }

.text-left {
  text-align: left   !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right  !important; }

a.contact-controller,
a.about-controller {
  color: #333; }
  a.contact-controller:visited,
  a.about-controller:visited {
    color: #333; }
  a.contact-controller:hover, a.contact-controller:visited:hover,
  a.about-controller:hover,
  a.about-controller:visited:hover {
    color: #597be8;
    text-decoration: none; }

.section {
  display: block;
  float: left;
  height: 100vh;
  position: relative;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .section {
      height: 50vh;
      width: 200%; } }

.section > .controller {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  @media screen and (max-width: 768px) {
    .section > .controller {
      width: 50%; } }

@media screen and (max-width: 768px) {
  .section > .controller + div {
    float: left;
    width: 50%; } }

.section:hover, .section.active {
  color: #333; }

.section:hover .controller,
.section.active .controller {
  color: #ccc; }

/*# sourceMappingURL=main.css.map */
