// Font weights
$regular: 400;

// Base Font
$base-font-family: 'Open Sans' sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$heading-font-family: 'Montserrat', sans-serif;
$heading-font-weight: $regular;

@import "modules/all";